*,
::after,
::before {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --pure-white: white;
    --nav-background-color: rgba(0, 0, 0, 0.3);
    --main-red: rgb(212, 41, 41);
}

body {
    /* Dimensions */
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--pure-white);
}

.page-container {
    height: 100%;
    width: 100%;

}


/* TOP HEADER */
header {
    /* display */
    display: flex;
    justify-content: space-between;
    /* Dimensions */
    height: min(50%, 600px);

    /* Background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Border */
}

/* NAV BAR ON TOP */

.top-right-nav {
    margin-right: 1.35rem;
    border-radius: 0.5rem;
    height: min-content;
    background-color: var(--nav-background-color);
}

.dropdown-content {
    /* Background */
    background-color: rgb(58, 58, 58);
    /* Box sizing */
    /* padding: 1rem; */
    gap: 1rem;
    /* Display */
    display: none;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    /* border */
    border-bottom: 1px solid var(--nav-background-color);
    border-right: 1px solid var(--nav-background-color);
    border-top: 1px solid var(--main-red);

}

.dropdown{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    border-left: 1px solid var(--nav-background-color);
    
}

.dropdown a{
    text-transform: uppercase;
}
.entree-title:nth-child(1),
.sushi-title:nth-child(1),
.drinks-title:nth-child(1){
    font-weight: bold;
}

.dropdown-content.show {
    display: grid;
}

.nav-list {
    background-color: black;
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    font-weight: 300;
}

.nav-list li {
    margin: 1rem;
}


#order-btn {
    background-color: var(--pure-white);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.5rem;
    color: black;

}

.social-media-list {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Box sizing */
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    list-style: none;
    /* Background */
    background-color: var(--pure-white);
}

/* LOGO TOP LEFT */

.logo-container {
    border-radius: 50%;
    padding: 2rem;
    height: min-content;
    background-color: var(--nav-background-color)
}

.logo-img {
    width: 200px;
}


/* MID SECTION */
.food-links-container {
    /* Box sizing */
    margin: 2rem 0 2rem 0;
    gap: 0.75rem;
    /* Display */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.food-links img {
    border: 1px solid var(--main-red);
    max-height: 400px;
    width: 350px;
}

.food-links {
    text-align: center;
}

.food-links p {
    border-bottom: 1px solid rgba(46, 44, 44, 0.2);
    font-size: 1.75rem;
    color: var(--main-red);
}

/* QUOTE SECTION */
.quote-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.quote-p {
    color: var(--pure-white);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

figcaption {
    text-align: right;
    color: var(--pure-white);
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

.quote-btn{
    border: 1px solid var(--pure-white);
    font-size: large;
    color: var(--pure-white);
    background-color: black;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
}


/* LOWER GALLERY SECTION */

.gallery-section {
    text-align: center;
}

.gallery-article {
    display: grid;
    width: 932px;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 1rem;
}

.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.gallery-container.hidden {
    display: none;
}

/* GALLERY SLIDER */
.image-slider-container.hidden {
    width: 100%;
    display: none;
    border: 1px solid black;
}

.image-slider-container {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.img-gallery-container {
    display: flex;
    position: relative;
    border: 1px solid black;
    height: 600px;
    width: 400px;
    overflow: hidden;
}

.slide {
    position: absolute;
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    transition: all 0.25s ease-in-out;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6,
.img-7,
.img-8,
.img-9 {
    height: 100%;
    width: 100%;
}


.slide:nth-child(1) {
    left: 0;
}

.slide:nth-child(2) {
    left: 100%;
}

.slide:nth-child(3) {
    left: 200%;
}

.slide:nth-child(4) {
    left: 300%;
}

.slide:nth-child(5) {
    left: 400%;
}

.slide:nth-child(6) {
    left: 500%;
}

.slide:nth-child(7) {
    left: 600%;
}

.slide:nth-child(8) {
    left: 700%;
}

.slide:nth-child(9) {
    left: 800%;
}

h2 {
    padding-top: 2rem;
}

.gallery-article img {
    width: 300px;
    height: 350px;
}


/* LOWER GOOGE MAPS SECTION */
.google-maps,
.google-api {
    width: 100%;
}




/* BOTTOM PART FOOTER */
footer p,
footer span {
    color: white;
}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 600px;
}

.contact-p,
.address-p,
.tel-orders,
.email-p,
.email-reservations {
    font-weight: 900;
}

.tel-span,
.hq-span,
.reservation-span {
    font-weight: 300;
}





/* EFFECTS ------------ */

/* HOVER */
.nav-list a:hover {
    color: var(--main-red);
}

#order-btn:hover {
    color: var(--main-red);
}

.menu:hover .dropdown-content{
    display: grid;
}

/* Testing - img gallery */