*,
::after,
::before {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --pure-white: white;
    --nav-background-color: rgba(0, 0, 0, 0.3);
    --main-red: rgb(212, 41, 41);
    --menu-spread-background: #000;
    --menu-filler-background: #515151;
    --li-active-color: #c59d5f;
    --product-background-color: #221b1a;
    --middle-blue: #457b9d;

}

body {
    /* Dimensions */
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--pure-white);
}

.page-container {
    height: 100%;
    width: 100%;

}

.message-box {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5rem;
    border: 2px solid var(--pure-white);
    width: fitcontent;
    height: 15%;
    background-color: var(--li-active-color);
    opacity: 0;
    transition: all 0.5s;
}


/* TOP HEADER */
header {
    /* display */
    display: flex;
    justify-content: space-between;
    /* Dimensions */
    height: max(45%, 450px);

    /* Background image */
    background: url("./img/header-cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Border */
}

/* NAV BAR ON TOP */

.top-right-nav {
    margin-right: 1.35rem;
    border-radius: 0.5rem;
    height: min-content;
    background-color: var(--nav-background-color);
}

.dropdown-content {
    /* Background */
    background-color: rgb(58, 58, 58);
    /* Box sizing */
    /* padding: 1rem; */
    gap: 1rem;
    /* Display */
    display: none;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    /* border */
    border-bottom: 1px solid var(--nav-background-color);
    border-right: 1px solid var(--nav-background-color);
    border-top: 1px solid var(--main-red);

}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    border-left: 1px solid var(--nav-background-color);

}

.dropdown a {
    text-transform: uppercase;
}

.entree-title:nth-child(1),
.sushi-title:nth-child(1),
.drinks-title:nth-child(1) {
    font-weight: bold;
}

.dropdown-content.show {
    display: grid;
}

.nav-list {
    background-color: black;
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    font-weight: 300;
}

.nav-list li {
    margin: 1rem;
}

#order-btn {
    background-color: var(--pure-white);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.5rem;
    color: black;

}

.social-media-list {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Box sizing */
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    list-style: none;
    /* Background */
    background-color: var(--pure-white);
}

/* LOGO TOP LEFT */

.logo-container {
    border-radius: 50%;
    padding: 2rem;
    height: min-content;
    background-color: var(--nav-background-color)
}

.logo-img {
    width: 200px;
}

/* MID FORM SECTION */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--li-active-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--product-background-color) inset;
    transition: background-color 5000s ease-in-out 0s;

}

.contact-us-form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, 450px);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    margin: 2rem 0 2rem 0;
}

.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.contact-us-form {
    display: flex;
    width: max(600px, 50%);
    flex-direction: column;
    padding: 1.5rem;
    /* Border */
    border-radius: 0.5rem;
    border: 1px solid var(--li-active-color);
    box-shadow: 0px 0px 15px 2px var(--menu-filler-background);
    /* Font */
    color: var(--pure-white);
    /* Background */
    background-color: var(--product-background-color);
}

#name,
#email-address,
#comment,
#subject {
    background-color: var(--product-background-color);
    border: none;
    border-bottom: 1px solid var(--pure-white);
    color: var(--li-active-color);
    width: 100%;
    font-size: large;
    padding: 0.5rem;

}

.name-p,
.email-address-p,
.comment-p,
.subject-p {
    font-size: 1.5rem;
}



#comment {
    font-size: large;
    border: 1px solid var(--pure-white);
    border-radius: 0.5rem;
    resize: none;
}

#name:focus,
#email-address:focus {
    outline: none;
    background-color: var(--product-background-color)
}

.form-btn-container {
    display: flex;
    margin-top: 1rem;
    justify-content: space-around;
}

.form-btn-container input {
    font-size: 1.5rem;
    background-color: var(--li-active-color);
    cursor: pointer;
    color: var(--pure-white);
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--pure-white);
    transition: background-color 0.3s;
}


a {
    text-decoration: none;
}

/* Menu items */


/* BOTTOM PART FOOTER */
footer p,
footer span {
    color: white;
}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 600px;
}

.contact-p,
.address-p,
.tel-orders,
.email-p,
.email-reservations {
    font-weight: 900;
}

.tel-span,
.hq-span,
.reservation-span {
    font-weight: 300;
}




/* EFFECTS ------------ */

/* HOVER */
.nav-list a:hover {
    color: var(--main-red);
}

#order-btn:hover {
    color: var(--main-red);
}

.menu-spread-ul a:hover,
.meals-ul a:hover {
    color: var(--li-active-color);
}

.menu:hover .dropdown-content {
    display: grid;
}

.details-btn:hover {
    background-color: var(--main-red);
}

.form-btn-container input:hover {
    background-color: var(--product-background-color);
}