$li-active-color: #c59d5f;

*,
::after,
::before {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --pure-white: white;
    --nav-background-color: rgba(0, 0, 0, 0.3);
    --main-red: rgb(212, 41, 41);
    --menu-spread-background: #000;
    --menu-filler-background: #515151;
    --product-background-color: #221b1a;
}

body {
    /* Dimensions */
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--pure-white);
}

.page-container {
    height: 100%;
    width: 100%;

}

header {
    /* display */
    display: flex;
    justify-content: space-between;
    /* Dimensions */
    height: 450px;
    /* Background image */
    background: url("./img/header-cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Border */
}

/* NAV BAR ON TOP */

.top-right-nav {
    margin-right: 1.35rem;
    border-radius: 0.5rem;
    height: min-content;
    background-color: var(--nav-background-color);
}

.dropdown-content {
    /* Background */
    background-color: rgb(58, 58, 58);
    /* Box sizing */
    gap: 1rem;
    /* Display */
    display: none;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    /* border */
    border-bottom: 1px solid var(--nav-background-color);
    border-right: 1px solid var(--nav-background-color);
    border-top: 1px solid var(--main-red);

}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    border-left: 1px solid var(--nav-background-color);

}

.dropdown a {
    text-transform: uppercase;
}

.entree-title:nth-child(1),
.sushi-title:nth-child(1),
.drinks-title:nth-child(1) {
    font-weight: bold;
}

.dropdown-content.show {
    display: grid;
}

.nav-list {
    background-color: black;
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    font-weight: 300;
}

.nav-list li {
    margin: 1rem;
}

#order-btn {
    background-color: var(--pure-white);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.5rem;
    color: black;

}

// MID SECTION
.order-slider{
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-summary{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    .order-items-container{
        display: grid;
        grid-template-columns: 1fr;
        border: 2px solid #d8d4d4;
        width: 75%;
        padding: 1.5rem;
        border-radius: 0.3rem;
    }
    .order-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        border-bottom:1px solid $li-active-color;
    }
    .order-item-left,
    .order-item-right{
        display: flex;
        gap: 1rem;
    }
    .order-summery-item-name{
        color: $li-active-color;
    }
    .order-summary-item-price,
    .order-summary-qty{
        font-weight: bold;
    }
    .order-item-right{
        align-items: center;
        justify-content: right;
    }
    
    .total-value{
        font-weight: bold;
    }
    
    .remove-item-summary,
    .continue-btn{
        background-color: $li-active-color;
        color: var(--pure-white);
        font-weight: bold;
        padding: 0.5rem 0.75rem 0.5rem 0.75rem;
        border-radius: 1rem;
        border: 2px solid var(--menu-filler-background);
        transition: color 0.2s ease-in, backgroundColor 0.2s ease-in;
    
    }
    
    .continue-btn{
        font-size: 1.75rem;
        margin: 1rem;
    }
}

.order-delivery-details{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    position: absolute;
    background-color: var(--pure-white);
    width: 100%;
    left: -100%;

    .delivery-details-form{
        display: flex;
        flex-direction: column;
    }
}

// Delivery or takeaway

legend{
    text-align: center;
}

.collect-or-deliver{
    display: flex;
    width: 75%;
    border: 2px solid #d8d4d4;
    color: $li-active-color;
    border-radius: 0.2rem;

}

.click-and-collect,
.home-delivery{
    width: 45%;
    padding: 0.7rem;
    border: 2px solid;
    border-radius: 0.2rem;
}

fieldset{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border:none;
}

/* BOTTOM PART FOOTER */
footer p,
footer span {
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    // height: 630px;
}

.contact-p,
.address-p,
.tel-orders,
.email-p,
.email-reservations {
    font-weight: 900;
}

.tel-span,
.hq-span,
.reservation-span {
    font-weight: 300;
}

/* EFFECTS ------------ */

/* HOVER */
.nav-list a:hover {
    color: var(--main-red);
}

#order-btn:hover {
    color: var(--main-red);
}
.order-btn:hover {
    color: var(--main-red);
    cursor: pointer;
}

.menu-spread-ul a:hover,
.meals-ul a:hover {
    color: var(--li-active-color);
}

.menu:hover .dropdown-content {
    display: grid;
}

.details-btn:hover {
    background-color: var(--main-red);
}

.remove-item-summary:hover,
.continue-btn:hover{
    color: $li-active-color;
    background-color: var(--pure-white);
    cursor: pointer;
}

