*,
::after,
::before {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --pure-white: white;
    --nav-background-color: rgba(0, 0, 0, 0.3);
    --main-red: rgb(212, 41, 41);
    --menu-spread-background: #000;
    --menu-filler-background: #515151;
    --li-active-color: #c59d5f;
    --product-background-color: #221b1a;
    --middle-blue: #457b9d;

}

body {
    /* Dimensions */
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--pure-white);
}

.page-container {
    height: 100%;
    width: 100%;

}


/* TOP HEADER */
header {
    /* display */
    display: flex;
    justify-content: space-between;
    /* Dimensions */
    height: max(45%, 450px);
    /* Background image */
    background: url("./img/about-us-cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Border */
}

/* NAV BAR ON TOP */

.top-right-nav {
    margin-right: 1.35rem;
    border-radius: 0.5rem;
    height: min-content;
    background-color: var(--nav-background-color);
}

.dropdown-content {
    /* Background */
    background-color: rgb(58, 58, 58);
    /* Box sizing */
    /* padding: 1rem; */
    gap: 1rem;
    /* Display */
    display: none;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    /* border */
    border-bottom: 1px solid var(--nav-background-color);
    border-right: 1px solid var(--nav-background-color);
    border-top: 1px solid var(--main-red);
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    border-left: 1px solid var(--nav-background-color);
}

.dropdown a {
    text-transform: uppercase;
}

.entree-title:nth-child(1),
.sushi-title:nth-child(1),
.drinks-title:nth-child(1) {
    font-weight: bold;
}

.dropdown-content.show {
    display: grid;
}

.nav-list {
    background-color: black;
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    font-weight: 300;
}

.nav-list li {
    margin: 1rem;
}

#order-btn {
    background-color: var(--pure-white);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.5rem;
    color: black;
}



/* LOGO TOP LEFT */

.logo-container {
    border-radius: 50%;
    padding: 2rem;
    height: min-content;
    background-color: var(--nav-background-color)
}

.logo-img {
    width: 200px;
}

/* MID SECTION */

.mid-section{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.left-side-container{
    /* flex: 1 1 auto; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 500px;
}
.right-side-container{
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    /* width: 50%; */
}

.chef-img{
    border: 5px solid red;
    padding: 1rem;
    border-radius: 50%;
}

.italic-text{
    font-weight: bold;
    font-style: italic;
}
.chef-name{
    font-size: 1.5rem;
    font-weight: bold;
}
.chef-title{
    font-size: large;
}

.quote-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    margin-bottom: 2rem;
}

.quote-p {
    color: var(--pure-white);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

figcaption {
    text-align: right;
    color: var(--pure-white);
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

.quote-btn{
    border: 1px solid var(--pure-white);
    font-size: large;
    color: var(--pure-white);
    background-color: black;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
}

a {
    text-decoration: none;
}


/* BOTTOM PART FOOTER */
footer p,
footer span {
    color: white;
}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 600px;
}

.social-media-list {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Box sizing */
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    list-style: none;
    /* Background */
    background-color: var(--pure-white);
}

.contact-p,
.address-p,
.tel-orders,
.email-p,
.email-reservations {
    font-weight: 900;
}

.tel-span,
.hq-span,
.reservation-span {
    font-weight: 300;
}

/* EFFECTS ------------ */

/* HOVER */
.nav-list a:hover {
    color: var(--main-red);
}

.menu:hover .dropdown-content {
    display: grid;
}
